{% if site.data.settings.experience %}
<!-- experience -->
<section class="section experience-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.experience-title }}</h2>
      </div>
    </div>
    {% for experience in site.data.settings.experience %}
    <div class="row" style="margin-bottom: 30px;"> <!-- Added style for margin -->
      <div class="col-lg-12">
        <h4>{{ experience.name }}</h4>
        <p style="margin-bottom: 5px;"> <!-- Added style for margin -->
          <strong>
            {% if experience.company_url %}
              <a href="{{ experience.company_url }}" target="_blank">{{ experience.organization }}</a>
            {% else %}
              {{ experience.organization }}
            {% endif %}
          </strong> | {{ experience.date }}
        </p>

        {% if experience.responsibilities %}
        <!-- <h5>Responsibilities:</h5> --> <!-- Commenting out subtitle for responsibilities for now -->
        <ul style="margin-bottom: 10px;"> <!-- Added style for margin -->
          {% for responsibility in experience.responsibilities %}
          <li>{{ responsibility }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if experience.detailed_timeline %}
        <h5 style="margin-top: 15px;">Detailed Timeline:</h5> <!-- Added style for margin -->
        <ul>
          {% for item in experience.detailed_timeline %}
          <li><strong>{{ item.date }}:</strong> {{ item.event }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% unless forloop.last %}<hr style="margin-top: 20px; margin-bottom: 20px;">{% endunless %} <!-- Add HR if not the last item -->
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- ./experience -->
{% endif %}